<div class="rack" style="height: {{ rack.get_render_height}}px;
    border: 1px solid black;
    width: 300px;
    float:left;
    position:relative;
    background-color: #C3C3C3;
    ">
    <h3><a href="{% url room-rack-view r.slug rack.slug %}">{{ rack.name }} {{ rack.units_number }}</a></h3>

    {% for s in rack.rackserver_set.all %}
        <div class="server" style="
            font-size: 10px;
            color: white;
            background-color: #737373;
            border: 1px solid #565656;
            position:absolute;
            width:100%;
            height: {{s.model.rackablemodel.get_render_height }}px;
            bottom: {{ s.get_render_offset}}px;
            ">
            {% if s.get_running_machine %}{{ s.get_running_machine }}{% else %}{{ s.serial_number }}{% endif %}
        </div>
    {% endfor %}

    {% for c in rack.chassis_set.all %}
        <div class="chasis" style="
                font-size: 10px;
                color: white;
                background-color: #656565;
                border: 1px solid #303030;
                position:absolute;
                width:100%;
                height: {{c.model.rackablemodel.get_render_height }}px;
                bottom: {{ c.get_render_offset }}px;
                ">
             <p>Chasis {{c.name}} {{ c.serial_number }}</p>
            {% for bs in c.bladeserver_set.all %}
                <div class="blade" style="border:1px solid #303030;float: left;widt:40px;width:73px;height:31px">{{ bs.get_running_machine }}</div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
