*.pyc
*.json
*.swp
*.mo
*.db
.idea
arritranco/arritranco/settings_local.py
arritranco/.project
arritranco/.pydevproject
arritranco/dev.db
arritranco/dump_sqlite.sql
arritranco/mysql2sqlite.sh
arritranco/dev.db-journal
arritranco/settings_local.py
arritranco/import_data.sh
arritranco/scheduler/test.py
arritranco/deployed-static/
virtualenv/
keys/
fbt_no_taskcheck.csv
devdb
*.sql
