{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Arritranco' %}</h1>
{% endblock %}

{% block nav-global %}
{% if user.is_authenticated %}
<div style="padding: 5px">
<a href="{% url active-machines %}">{% trans "Machines" %}</a> |
<a href="{% url room-rack-view %}">{% trans "Racks" %}</a> |
<a href="{% url update-list %}">{% trans "OS updates" %}</a> |
<a href="{% url backup-grid %}">{% trans "Backups grid" %}</a> |
</div>
{% endif %}
{% endblock %}

